extends layout/main

block head
	// loder control 
	// build:css css/main.css 
	link(rel="stylesheet" type="text/css" href="../css/main.css")
	// endbuild
	// endloder 
	title turbo demo
	script.
		var $CONFIG = {
			title: "turbo test title",
			content: "这就是内容了，呵呵~",
			tableHead:["单元格1","单元格2"]
		}
block body
block footer
	// build:requirejs entry/loder_demo
	script(data-main="../js/entry/loder_demo" src="../vender/require.js")
	// endbuild